{% extends 'base.html.twig' %}

{% block title %}Liste des articles - {{ parent() }}{% endblock %}

{% block body %}
    {% for article in articles %}
        {% set article_url = path('article_detail_article', {'id': article.id}) %}
        <h2>
            <a href="{{ article_url }}">
                {{ article.title }}
            </a>
        </h2>
        <p>
            {{ article.content|slice(0, 120) }}
            <a href="{{ article_url }}">[...]</a>
            <a href="{{ path('article_edit', {'id': article.id}) }}">&#9785;</a>
        </p>
        <hr />
    {% endfor %}
{% endblock %}
